/****************公共样式begin********************/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #f6f6f6;font-size: 15px;color: #1a1a1a;
    font-family: -apple-system, BlinkMacSystemFont, Helvetica Neue, PingFang SC, Microsoft YaHei, Source Han Sans SC, Noto Sans CJK SC, WenQuanYi Micro Hei, sans-serif;

}

a{
    text-decoration: none;
    color: #1a1a1a;
}
ul,ol{
    list-style: none;
}
/*版心*/
.container{
    width: 1000px;
    margin: 0 auto;
}
/****************公共样式end********************/

/****************头部begin********************/
#hd{
    width: 100%;
    height: 52px;
    background-color: #ffffff;
    box-shadow: 0 1px 1px #e7e7e7;
    z-index: 999;
    position: fixed;
    left: 0;
    top: 0;
}
#hd .hd-main{
    height: 100%;
    display: flex;
    /*background-color:saddlebrown;*/
}
#hd .hd-main .hd-main-l{
    display: flex;
    /*background-color: aqua;*/
    flex-direction: row;
    align-items: center;
    flex: 1;
}
#hd .hd-main .hd-main-l .hd-main-logo {
    display: block;
    margin-right: 20px;
}
#hd .hd-main .hd-main-l .hd-main-logo img{
    width: 100px;
}

#hd .hd-main .hd-main-l .hd-main-nav a{
    padding: 0 10px;
    color: #8590a6;
}
#hd .hd-main .hd-main-l .hd-main-nav a:hover{
  color: cadetblue;
}
#hd .hd-main .hd-main-l .hd-main-nav .current{
    color: #444;
}
#hd .hd-main .hd-main-l .hd-search{
   margin-left: 15px;
    display: flex;
}
#hd .hd-main .hd-main-l .hd-search .hd-search-bar{
    position: relative;
}
#hd .hd-main .hd-main-l .hd-search .hd-search-bar input{
    width: 350px;
    height: 36px;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding-left: 10px;
    background-color: #efefef;
}
#hd .hd-main .hd-main-l .hd-search .hd-search-bar input:focus{
    border: 1px solid cadetblue;
    outline: none;
}
#hd .hd-main .hd-main-l .hd-search .hd-search-bar i{
    width: 20px;
    height: 20px;
    position: absolute;
    right: 8px;
    top: 10px;
    color: #999999;
}
#hd .hd-main .hd-main-l .hd-search .hd-search-btn{
    margin-left: 15px;
    width: 56px;
    height: 34px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #0084ff;
    color: #ffffff;
}
#hd .hd-main .hd-main-l .hd-search .hd-search-btn:hover{
    background-color: red;
}
/*头部右边部分*/
#hd .hd-main .hd-main-r{
    display: flex;
    flex-direction: row;
    align-items: center;
}
#hd .hd-main .hd-main-r a{
    display: block;
    margin:0 15px;
}
#hd .hd-main .hd-main-r a i{
    color: #8590a6;
    font-size: 20px;
}
#hd .hd-main .hd-main-r a img{
    height: 30px;
    width: 30px;
}
/****************头部end********************/


/****************内容begin********************/
#main{
    display: flex;
    margin-top: 62px;
    /*background-color: red;*/
}
#main .main-left{
    width: 690px;
    height: 1500px;
    background-color: #fff;
    margin-right: 10px;
    box-shadow: 0 0 5px #e7e7e7 ;
}
#main .main-left .main-left-h{
    width: 100%;
    height: 60px;
    border-bottom: 1px solid #e7e7e7;
}
#main .main-left .main-left-h ul li {
    line-height: 58px;
    float: left;
}
#main .main-left .main-left-h ul li.current a{
    font-weight: bold;
    border-bottom: 2px solid #0077e6;
}
#main .main-left .main-left-h ul li a{
    margin: 0 20px;
    display: inline-block;
}
/*左边中间内容*/
#main .main-left .item{
    padding: 20px;
    border-bottom: 1px solid #e7e7e7;
    display: flex;
    flex-direction: column;
}
#main .main-left .item-title{
    font-size: 19px;
    font-weight: bold;
    padding: 10px 0;
}
#main .main-left .item-main{
    display: flex;
    flex-direction: column;

}
#main .main-left .item-main .item-main-t{
   display: flex;
    align-items: center;
}
#main .main-left .item-main .item-main-l{
display: block;
}
#main .main-left .item-main .item-main-l img{
    width: 190px;
    border-radius: 5px;
}
#main .main-left .item-main .item-main-t .item-main-r{
    flex: 1;
    margin-left: 10px;
}
#main .main-left .item-main .item-main-t .item-main-r a i{
    margin-left: 3px;
}
#main .main-left .item-main .item-main-t .item-main-r span{
    line-height: 26px;
}
#main .main-left .item-main .item-main-t .item-main-r a{
    color: #0084ff;
    vertical-align:middle;
}

#main .main-left .item-main .item-main-b{
    display: flex;
    align-items: center;
    padding-top: 5px ;

}
#main .main-left .item-main .item-main-b .noe{
    display: flex;

}
#main .main-left .item-main .item-main-b .noe a:first-child,
#main .main-left .item-main .item-main-b .noe a:last-child
{

    height: 36px;
    background-color: steelblue;
    color: #fff;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#main .main-left .item-main .item-main-b .noe a:first-child
{
    width: 120px;
}
#main .main-left .item-main .item-main-b .noe a:first-child i{
    margin-right: 5px;
}
#main .main-left .item-main .item-main-b .noe a:last-child{
    width: 36px;
    margin-left: 5px;
}
#main .main-left .item-main .item-main-b>a{
    color: #cccccc;
    margin-left: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#main .main-left .item-main .item-main-b>a i{
    margin-right: 3px;
}
#main .main-right{
    flex: 1;
    /*background-color: yellow;？*/
}
#main .main-right .main-right-o{
    width: 300px;
    height: 120px;
    background-color: #fff;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
    box-shadow: 0 0 1px #ccc;
}
#main .main-right .main-right-o .right-item{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    width: 80px;
    height: 80px;
}
#main .main-right .main-right-o .right-item i{
    color: #cccccc;
    font-size: 20px;
}
#main .main-right .main-right-o .right-item span{
    font-size: 17px;
    margin-top: 10px;
}
#main .main-right .main-right-t {
    padding: 20px;
    box-shadow: 0 0 1px #ccc;
    background-color: #ffffff;
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
}
#main .main-right .main-right-t .right-item-w{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 33%;
    height: 80px;
    cursor: pointer;
    color: #cccccc;
}
#main .main-right .main-right-t .right-item-w i{
    margin-bottom: 10px;
    font-size: 20px;
}
#main .main-right .main-right-t .right-item-w .orangered{
    color: orangered !important;
}
#main .main-right .main-right-t .right-item-w .green{
    color: green !important;
}
#main .main-right .main-right-t .right-item-w .blue{
    color: blue  !important;
}
#main .main-right .main-right-t .right-item-w .red{
    color: red!important;
}
#main .main-right .main-right-t .right-item-w .purple{
    color: purple !important;
}
#main .main-right .main-right-th{
    margin-top: 10px;
    position: relative;
}
#main .main-right .main-right-th img{
    width: 100%;
}
#main .main-right .main-right-th .ad{
    position: absolute;
    right: 10px;
    bottom: 10px;
    border: 1px solid #fff;
    color: #ffffff;
    border-radius: 5px;
    padding: 2px 8px;
    background-color: saddlebrown;

}
#main .main-right .main-right-th .close{
    position: absolute;
    top: 5px;
    right: 5px;
    border-radius: 50%;
    background: rgba(0,0,0,.6);
    font-size: 20px;
    height: 20px;
    width: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    cursor: pointer;
    padding-bottom: 3px;
    visibility: hidden;
}
#main .main-right .main-right-th:hover .close{
    visibility: visible;
}
/****************内容end********************/
