body {
    font-family: -apple-system, SF UI Text, Arial, PingFang SC, Hiragino Sans GB, Microsoft YaHei, WenQuanYi Micro Hei, sans-serif;
}

.container {
    width: 945px;
    padding-left: 15px;
    margin: 0 auto;
}

.top-bar {
    border-bottom: 1px solid #f0f0f0;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9;
    height: 56px;
    width: 100%;
    background-color: #fff;
}

.top-bar-limit {
    min-width: 768px;
    max-width: 1440px;
    margin: 0 auto;
}

.top-bar-limit a.logo img {
    height: 100%;
}

.top-bar-limit a.logo {
    float: left;
    height: 56px;
}

.top-bar-limit a.write {
    float: right;
    width: 100px;
    height: 40px;
    line-height: 40px;
    margin: 8px 15px 0;
    border-radius: 20px;
    font-size: 15px;
    color: #fff;
    background-color: #ea6f5a;
    text-align: center;
}

.top-bar-limit a.write i {
    font-size: 18px;
}

.top-bar-limit a.write span {
    vertical-align: top;
}

.top-bar-limit a.register {
    float: right;
    color: #ec6149;
    background-color: rgba(236, 97, 73, .05);
    width: 78px;
    height: 36px;
    line-height: 38px;
    margin: 9px 5px 0 15px;
    border: 1px solid rgba(236, 97, 73, .7);
    border-radius: 20px;
    font-size: 15px;
    text-align: center;
}

.top-bar-limit a.login {
    float: right;
    color: #969696;
    margin: 11px 6px 0 10px;
    font-size: 15px;
    padding: 6px 12px;
}

.top-bar-limit-container-lft {
    float: left;
}

.top-bar-limit-container-lft a.home, .top-bar-limit-container-lft a.download {
    float: left;
    padding: 15px;
    font-size: 17px;
    color: #333;
    margin-right: 10px;
}

.top-bar-limit-container-lft a.home i, .top-bar-limit-container-lft a.download i {
    font-size: 18px;
    font-weight: bold;
    margin-right: 5px;
}

.top-bar-limit-container-lft a.home {
    color: #ea6f5a;
}

.top-bar-limit-container-lft a.home i {
    display: inline-block;
    transform: rotate(90deg);
}

.top-bar-limit-container-lft form {
    float: left;
    padding-left: 15px;
    margin-top: 9px;
    position: relative;
}

.top-bar-limit-container-lft form input {
    padding: 0 40px 0 20px;
    width: 180px;
    height: 38px;
    font-size: 14px;
    border: 1px solid #eee;
    border-radius: 40px;
    background: #eee;
    transition: all 0.5s;
}

.top-bar-limit-container-lft form input:focus {
    width: 240px;
}

.top-bar-limit-container-lft form i {
    height: 30px;
    width: 30px;
    position: absolute;
    top: 4px;
    right: 5px;
    color: #969696;
    text-align: center;
    line-height: 30px;
    border-radius: 50%;
}

.top-bar-limit-container-lft input:focus + i {
    color: #eeeeee;
    background-color: #969696;
    transition: all 0.5s;
}

.top-bar-limit-container-lft .tip {
    display: none;
    position: absolute;
    left: 15px;
    top: 100%;
    margin-top: 9px;
    padding: 20px 20px 10px;
    width: 210px;
    background-color: #fff;
    box-shadow: 0 0 8px rgba(0, 0, 0, .2);
}

.top-bar-limit-container-lft .tip-header {
    margin-bottom: 10px;
}

.top-bar-limit-container-lft .tip-header span {
    display: block;
    font-size: 14px;
    color: #969696;
    float: left;
}

.top-bar-limit-container-lft .tip-header a.change {
    font-size: 14px;
    color: #969696;
    float: right;
}

.top-bar-limit-container-lft .tip li {
    float: left;
    margin: 5px;
}

.top-bar-limit-container-lft .tip li a {
    padding: 2px 6px;
    font-size: 12px;
    color: #787878;
    border: 1px solid #ddd;
    border-radius: 3px;
}

.top-bar-limit-container-lft .tip::before {
    content: "";
    width: 0;
    height: 0;
    border-bottom: 10px solid #fff;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    position: absolute;
    bottom: 100%;
    left: 25px;
}

.top-bar-limit-container-rgt {
    float: right;
}

.top-bar-limit-container-rgt a {
    display: inline-block;
    color: #969696;
    margin: 14px 10px;
}

.top-bar-limit-container-rgt a img {
    height: 25px;
}

.top-bar-limit-container-rgt a i {
    font-size: 30px;
}

.main {
    margin-top: 56px;
}

.main-lft {
    float: left;
    width: 625px;
    padding-top: 30px;
}

.main-lft-img {
    width: 625px;
    overflow: hidden;
    border-radius: 10px;
    position: relative;
    margin-bottom: 40px;
}

.main-lft-img-box {
    position: relative;
    height: 270px;
    width: 1250px;
}

.main-lft-img-box img {
    height: 270px;
    position: absolute;
    left: 625px;
}

.main-lft-img-option {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translate(-50%);
}

.main-lft-img-option li {
    width: 25px;
    height: 2px;
    background-color: hsla(0, 0%, 47%, .4);
    float: left;
    margin: 5px;
    cursor: pointer;
}

.main-lft-img-option li.current {
    background-color: #fff;
}

.main-lft-img span {
    display: none;
    background-color: rgba(0, 0, 0, .4);
    height: 50px;
    width: 40px;
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    font-size: 20px;
    color: #ffffff;
    text-align: center;
    line-height: 50px;
    cursor: pointer;
}

.main-lft-img span:first-of-type {
    left: 0;
}

.main-lft-img span:last-of-type {
    right: 0;
}

.main-lft-content {
    width: 625px;
}

.main-lft-content li {
    min-height: 140px;
    width: 100%;
    margin: 0 0 15px;
    padding: 15px 0 20px 0;
    border-bottom: 1px solid #f0f0f0;
    position: relative;
}

.main-lft-content li .content {
    width: 458px;
    padding-right: 165px;
}

.main-lft-content li .content a {
    display: block;
    color: #2f2f2f;
    margin: -7px 0 4px;
    font-size: 18px;
    font-weight: 700;
}

.main-lft-content li .content a:hover {
    text-decoration: underline;
}

.main-lft-content li .content p {
    margin: 0 0 8px;
    font-size: 13px;
    line-height: 24px;
    color: #999;
}

.main-lft-content li .content i {
    margin-right: 10px;
    color: #b4b4b4;
    font-size: 12px;
    line-height: 20px;
}

.main-lft-content li > a {
    position: absolute;
    width: 150px;
    top: 50%;
    right: 0;
    margin-top: -60px;
}

.main-lft-content li > a img {
    width: 100%;
    height: 100%;
    border-radius: 4px;
    border: 1px solid #f0f0f0;
}

.main-rgt {
    float: right;
    width: 280px;
    padding-top: 30px;
    margin-left: 40px;
}

.main-rgt-board img {
    height: 50px;
    vertical-align: top;
    margin-bottom: 6px;
    border-radius: 4px;
}

.main-rgt > a {
    display: block;
    margin: 5px 0 30px;
    padding: 10px 22px;
    width: 236px;
    border: 1px solid #f0f0f0;
    border-radius: 6px;
    background-color: #fff;
    position: relative;
}

.main-rgt > a img {
    width: 60px;
    height: 60px;
    opacity: 0.85;
    vertical-align: top;
    position: absolute;
}

.main-rgt > a .info {
    padding: 10px 0 10px 70px;
}

.main-rgt > a .info p:first-child {
    font-size: 15px;
    color: #333;
}

.main-rgt > a .info p:last-child {
    margin-top: 4px;
    font-size: 13px;
    color: #999;
}

.main-rgt > a .big-code {
    display: none;
    height: 160px;
    width: 160px;
    padding: 10px;
    border: 1px solid #999999;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0 7px 3px rgba(0, 0, 0, 0.1);
    position: absolute;
    top: -190px;
    left: 50%;
    transform: translate(-50%);
}

.main-rgt > a .big-code img {
    height: 160px;
    width: 160px;
}

.main-rgt > a .big-code::after {
    content: '';
    width: 0;
    height: 0;
    border-top: 10px solid #ffffff;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    position: absolute;
    left: 50%;
    top: 99%;
    transform: translate(-50%);
}

.main-rgt-ad{
    width: 280px;
    position: relative;
}

.main-rgt-ad img{
    width: 100%;
    border-radius: 5px;
    vertical-align: bottom;
}

.main-rgt-ad span{
    position: absolute;
    bottom: 0;
    right: 0;
    color: #fff;
    background-color: #000;
    padding: 0 5px;
    font-size: 12px;
    line-height: 20px;
    opacity: 0.7;
}

.main-rgt-recommend{
    width: 280px;
    margin: 20px 0;
}

.main-rgt-recommend .header{
    font-size: 14px;
    color: #969696;
}

.main-rgt-recommend .header a{
    color: #969696;
    float: right;
}

.main-rgt-recommend li{
    margin-top: 15px;
    position: relative;
}

.main-rgt-recommend li a img{
    width: 48px;
    height: 48px;
    border: 1px solid #ddd;
    border-radius: 50%;
    position: absolute;
}

.main-rgt-recommend li .name{
    padding-left: 60px;
    height: 50px;
}

.main-rgt-recommend li .name a{
    font-size: 14px;
    display: block;
    color: #2f2f2f;
    padding-top: 5px;
}

.main-rgt-recommend li .name p{
    margin: 2px 0 10px;
    font-size: 12px;
    color: #969696;
}

.main-rgt-recommend li a:last-child{
    margin-top: 5px;
    font-size: 13px;
    color: #42c02e;
    position: absolute;
    top: 0;
    right: 0;
}

.main-rgt-recommend a.find-more{
    margin-top: 20px;
    display: block;
    padding: 10px 7px 10px 12px;
    width: 259px;
    font-size: 13px;
    color: #787878;
    background-color: #f7f7f7;
    border: 1px solid #dcdcdc;
    border-radius: 4px;
    text-align: center;
}

.footer span{
    display: none;
    border: 1px solid #dcdcdc;
    cursor: pointer;
    width: 50px;
    height: 50px;
    position: fixed;
    bottom: 50px;
    right: 40px;
}

.footer span::before{
    content: ">";
    font-size: 30px;
    color: #999999;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%) rotate(-90deg);
}